.header{
    padding: 50px;
    background-color: rgb(145, 241, 121);
    display: flex;
    
}
.username{
    color: rgb(234, 113, 113);
    font-style: oblique;
}
.title{
    margin:auto;
}
.sideMenu{
    padding-bottom: 50%;
    width: 376px;

    background-color: rgb(215, 215, 244);
}
.menuItems{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
a{
    cursor: pointer;
  
}
.items{
    
}
.menuHref:hover{
    padding: 10px;
    background-color: rgb(229, 219, 165);
}
.imagenHref{
    cursor: pointer;
}